<%- include('../components/template') %>

<main id="content">
<div class="bg-transparent">

  <div class="sm:flex sm:items-center px-8 pt-4">
    <div class="sm:flex-auto">
      <h1 class="text-base font-medium leading-6 text-white">
        <%= req.translations.apiKeys %>
      </h1>
      <p class="mt-1 tracking-tight text-sm text-neutral-500">
        <%= req.translations.apiKeysDescription %>
      </p>
    </div>
    <div class="mt-4 sm:ml-8 sm:mt-0 sm:flex-none">
      <button
        id="createApiKey"
        type="button"
        class="block rounded-xl <%= theme['button-color'] %> px-3 py-2 text-sm font-medium shadow-lg transition"
      >
        <%= req.translations.createApiKey %>
      </button>
    </div>
  </div>

  <div id="nodeTable" class="mt-6 w-full">
    <table class="mt-6 w-full whitespace-nowrap text-left">
      <colgroup>
        <col class="w-4/12">
        <col class="w-3/12">
        <col class="w-3/12">
        <col class="w-2/12">
      </colgroup>

      <thead class="border-b border-white/5 text-sm leading-6 text-white">
        <tr>
          <th class="py-2 pl-4 pr-8 font-medium sm:pl-8 lg:pl-8">
            <%= req.translations.id %>
          </th>
          <th class="hidden py-2 pl-0 pr-8 font-medium sm:table-cell">
            <%= req.translations.key %>
          </th>
          <th class="hidden py-2 pl-0 pr-8 font-medium sm:table-cell">
            <%= req.translations.createdAt %>
          </th>
          <th class="py-2 pl-0 pr-8 font-medium md:table-cell lg:pr-20">
            <%= req.translations.actions %>
          </th>
        </tr>
      </thead>

      <tbody class="divide-y divide-white/5">
        <% if (apiKeys.length === 0) { %>
          <tr>
            <td colspan="4" class="py-4 text-center text-neutral-400">
              <%= req.translations.noApiKeysCreated %>
            </td>
          </tr>
        <% } %>

        <% apiKeys.forEach(function(key) { %>
        <tr class="hover:bg-white/5 transition">
          <td class="py-4 pl-4 pr-8 sm:pl-8 lg:pl-8">
            <div class="truncate text-sm font-medium text-white">
              <%= key.id %>
            </div>
          </td>

          <td class="hidden py-4 sm:table-cell">
            <div
              class="rounded-xl font-mono bg-neutral-800/40 px-2 py-1 text-xs text-neutral-400 ring-1 ring-inset ring-white/10">
              <%= key.key %>
            </div>
          </td>

          <td class="hidden py-4 sm:table-cell">
            <div
              class="rounded-xl bg-neutral-800/40 px-2 py-1 text-xs text-neutral-400 ring-1 ring-inset ring-white/10">
              <%= key.createdAt %>
            </div>
          </td>

          <td class="py-4 flex gap-3">
            <button
              type="button"
              class="removeButton rounded-xl bg-red-600 px-3 py-2 text-sm text-white shadow-lg hover:bg-red-500 transition"
              data-keyid="<%= key.id %>">
              <%= req.translations.remove %>
            </button>
          </td>
        </tr>
        <% }); %>
      </tbody>
    </table>
  </div>

  <%- include('../components/pagination', { pagination }) %>

  <div id="nodeForm" class="mt-6 px-8 w-full hidden">
    <form>
      <button
        id="createNodeBtn"
        type="button"
        class="block rounded-xl <%= theme['button-color'] %> px-3 py-2 text-sm font-medium shadow-lg transition">
        <%= req.translations.clickToConfirmCreation %>
      </button>
    </form>
  </div>

</div>
</main>
<script>
  document
    .getElementById("createButton")
    .addEventListener("click", function () {
      var table = document.getElementById("nodeTable");
      var form = document.getElementById("nodeForm");
      if (table.style.display !== "none") {
        table.style.display = "none";
        form.style.display = "block";
      } else {
        table.style.display = "block";
        form.style.display = "none";
      }
    });
</script>
<script>
  document
    .getElementById("createNodeBtn")
    .addEventListener("click", function () {
      fetch("/apikeys/create", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        }
      })
        .then((response) => {
          if (response.ok) {
            return response.json();
          }
          throw new Error("Failed to create API Key");
        })
        .then((data) => {
          console.log("key created:", data);
          alert('<%= req.translations.apiKeySuccessCreated %>');
          window.location.reload();
        })
        .catch(error => alert('<%= req.translations.apiKeyErrorCreated %>: ' + error.message));
    });
</script>
<!-- remove -->
<script>
  document.querySelectorAll('.removeButton').forEach(button => {
    button.addEventListener('click', function() {
      const keyId = this.dataset.keyid;

      fetch('/apikeys/delete', {
        method: 'DELETE',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({ keyId })
      })
      .then(response => {
        if (response.ok) {
          console.log('API KEY DELETED');
          window.location.href = '../admin/apikeys?err=CREATED'
        } else {
          throw new Error('Failed to delete key');
        }
      })
      .catch(error => alert('<%= req.translations.apiKeyErrorDelete %>: ' + error.message));
    });
  });
</script>

<%- include('../components/footer') %>
