<%- include('../components/template') %>
<main id="content">
   <div class="bg-transparent">
      <div class="sm:flex sm:items-center px-8 pt-4">
         <div class="sm:flex-auto">
           <h1 class="text-base font-medium leading-6 text-white"><%= req.translations.overview %></h1>
           <p class="mt-1 tracking-tight text-sm text-neutral-500"><%= req.translations.overviewText %></p>
         </div>
       </div>

       <div class="px-8 mt-5">
        <dl class="mt-5 grid grid-cols-1 gap-5 sm:grid-cols-4">
            <div class="overflow-hidden rounded-xl bg-neutral-700/10 px-4 py-5 shadow sm:p-6">
               <dt class="truncate text-sm font-medium text-neutral-400"><%= req.translations.users %></dt>
               <dd class="mt-1 text-3xl font-medium tracking-tight text-white">
                  <%= usersTotal %>
               </dd>
            </div>

            <div class="overflow-hidden rounded-xl bg-neutral-700/10 px-4 py-5 shadow sm:p-6">
               <dt class="truncate text-sm font-medium text-neutral-400"><%= req.translations.instances %></dt>
               <dd class="mt-1 text-3xl font-medium tracking-tight text-white">
                  <%= instancesTotal %>
               </dd>
            </div>

            <div class="overflow-hidden rounded-xl bg-neutral-700/10 px-4 py-5 shadow sm:p-6">
               <dt class="truncate text-sm font-medium text-neutral-400"><%= req.translations.nodes %></dt>
               <dd class="mt-1 text-3xl font-medium tracking-tight text-white">
                  <%= nodesTotal %> 
               </dd>
            </div>

            <div class="overflow-hidden rounded-xl bg-neutral-700/10 px-4 py-5 shadow sm:p-6">
               <dt class="truncate text-sm font-medium text-neutral-400"><%= req.translations.images %></dt>
               <dd class="mt-1 text-3xl font-medium tracking-tight text-white">
                  <%= imagesTotal %>
               </dd>
            </div>
         </dl>
       </div>
    </div>
</main>
<%- include('../components/footer') %>
